PINECONE_API_KEY=
PINECONE_HOST=

LLM_CLIENT_BASE_URL=
LLM_CLIENT_MODEL=

CLAUDE_CODE_OAUTH_TOKEN=
CLAUDE_BINARY_PATH=
CLAUDE_MODEL=

VOYAGE_API_KEY=
VOYAGE_MODEL=voyage-code-3
VOYAGE_BASE_URL=https://api.voyageai.com/v1
VOYAGE_OUTPUT_DIMENSION=1024
VOYAGE_RPM=2000
VOYAGE_TPM=3000000

EMBEDDING_CLIENT_BASE_URL=
EMBEDDING_CLIENT_MODEL=

POSTGRES_CONNECTION_STRING=

RABBITMQ_URL=

PORT=8090

JWT_SECRET=
JWT_ISSUER=nexy

GITHUB_APP_ID=
GITHUB_APP_SLUG=
GITHUB_APP_PRIVATE_KEY_PATH=